*{
    margin:0; 
    padding:0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}

header {
    display: flex;
    padding: 30px;
    width: 100%;
    height: 10%;
    z-index: 100;
    background:#acccce;
    margin-bottom: 20px;
}


header .logo {
    font-family: sans-serif;
    color: #f2f2f2;
    font-size: 50px;
    line-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

header nav ul {
    font-family: sans-serif;
    color: #f2f2f2;
    font-size: 50px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 30px;
}

#navegador {
    font-size: 15px;
    padding: 15px;
}

#navegador:hover {
    background:#2e5050;
    color: rgb(255, 255, 255);
    opacity: 0.2;
}

header nav a {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 25px 25px;
    line-height: 10%;
    font-size: 15px;
    font-weight:bold;
    -webkit-transition: all 50ms ease;
    -o-transition: all 50ms ease;
    transition: all 50ms ease;
    border-radius: 50px;
}

header nav a:hover {
    background:#2e5050;
    color: rgb(255, 255, 255);
}

#cuerpo {
    display: grid;
    grid-template-rows: 1fr;
    gap: 2rem;
    padding-bottom: 20%;
}

main {
    width: 90%;
    margin: auto;
}

.izquierda2 {
    background: #76d5f5;
    background: linear-gradient(#76d5f5, #76d5a0);
    border-radius: 10%;
}


h3 {
    padding-left: 40%;
    color: #7a7a7a;
    background-color: #76d5f5;
    padding: 30px;
    opacity: 0.7;
}

h4 {
    padding-left: 30%;
    color: #7a7a7a;
    margin: auto;
    padding: auto;
    opacity: 0.7;
}

p {
    font-weight: bolder;
    font-size: 19px;
    line-height: 30px;
    width: 50%;
    margin: auto;
}

.contenido p {
    margin-bottom: 1em;
}

.imga1 {
    display: inline-block;
    text-align: center;
    float: none;
    padding: 10px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 15%;
    color: white;
}

.image {
    width: 100%;
    color: white;
    align-content: center;
}

.padre {
    display: grid;
    grid-template-columns: repeat(4, 5fr);
    grid-template-rows: repeat(4, 100px);
    padding-left: 150px;
}

.hijo {
    filter: brightness(0.8);
    transition: all 2s;
}

.hijo:hover {
    filter: brightness(1);
    transform: scale(1.2);
}

.textarea {
    width: 75%;
    height: 200px;
}


footer{
    width: 100%;
    padding: 30px 0px;
    background-image: url(../images/background-footer.svg);
    background-size: cover;
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer h2{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.box__footer a{
    text-decoration: none;
    margin-top: 10px;
    color:#7a7a7a;
    font-weight: 60;
}

.box__footer a:hover{
    opacity: 0.8;
}

box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
    margin-top: 20px;
}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
    text-align: center;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}

:root{
    --color-esqueleto:#EFF3F5;
}

body {
    background-image: url('../images/fondo.jpg');
    background-repeat:no-repeat;
    background-attachment: fixed;
    opacity: 0.8;
}

@media (min-width: 260px) {
    
    header .logo {
        flex-direction: column;
        align-items: center;
    }

    header {
        flex-direction: column;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    #cuerpo {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        opacity: 0.8;
        padding-bottom: 20%;
    }

    .izquierda2 {
        background: #76d5f5;
        background: linear-gradient(#76d5f5, #76d5a0);
        border-radius: 10%;
    }

    .video {
        width: 260px;
        height: 150px;
    }

    h3 {
        color: white;
        padding-left: 40%;
        font-size: 10px;
        padding-left: 27%;
    }
    
    h4 {
        color: #7a7a7a;
        margin: auto;
        padding: auto;
        opacity: 0.7;
    }

    p {
        font-size: 15px;
        line-height: 20px;
        width: 75%;
    }

    .derecha {
        height: 45vh;
        border-radius: 10%;
    }

    .container__footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box__footer{
        align-items: center;
    }

    .textarea {
        width: 75%;
        height: 100px;
    }

    .padre {
        display: grid;
        grid-template-columns: repeat(3, 3fr);
        grid-template-rows: repeat(3, 100px);
        padding-left: 30px;
    }


@media (min-width: 768px) {
    header .logo {
        display: flex;
        flex-direction: row;
        margin-left: 10%;
    }

    header {
        flex-direction: row;
    }

    header nav ul {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #cuerpo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 2fr;
        gap: 2rem;
        opacity: 0.8;
    }

    .izquierda {
        background: #76d5f5;
        background: linear-gradient(#76d5f5, #76d5a0);
        border-radius: 10%;
    }

    .video {
        width: 510px;
        height: 250px;
        margin-right: 2%;
    }

    h3 {
        color: white;
        font-size: 200px;
        margin-bottom:15px;
        margin: auto;
        padding-left: 40%;
    }

    h4 {
        color: #7a7a7a;
        margin: auto;
        padding: auto;
        opacity: 0.7;
    }
    

    p {
        font-size: 15px;
        line-height: 25px;
        width: 75%;
    }

    .derecha {
        height: 50vh;
    }

    .container__footer{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .box__footer{
        align-items: center;
    }

    .textarea {
        width: 75%;
        height: 100px;
    }

    .padre {
        display: grid;
        grid-template-columns: repeat(4, 3fr);
        grid-template-rows: repeat(4, 100px);
        padding-left: 30px;
    }

    .imga1 {
        margin-left: 35%;
    }
    
  }
}